* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.admin {
  display: flex;
  height: 100vh;
}

.left {
  background-color: #2d3446;
  flex: 0.2;
  min-width: 223px;
}

.left h1 {
  font-size: 21px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #788195;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #1f2431;
}

.left .list-item {
  padding: 50px 0;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 15px;
}

.left .item {
  display: flex;
  align-items: center;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s;
  padding: 20px 20px;
}

.left .item:hover,
.active {
  color: #fff;
  background-color: #1f2431;
  border-left: 4px solid #fff;
  padding-left: 40px;
}

.left .item i {
  margin-right: 20px;
}

.right {
  background-color: #f1f3f6;
  flex-grow: 1;
  overflow-y: hidden;
}

.right .header {
  background-color: #1f2431;
  display: flex;
  justify-content: flex-end;
  height: 69.6px;
  align-items: center;
  padding: 0 50px;
  color: #fff;
}

.right .header * {
  cursor: pointer;
}

.right .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.right .avatar img {
  width: 100%;
}

.right .header span {
  margin: 0 10px;
  font-weight: 700;
  font-size: 13px;
}

.right .header i {
  font-size: 13px;
}

.right .user,
.fixer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-grow: 1;
  padding: 50px 0;
  overflow-y: scroll;
  padding-bottom: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.all-user {
  display: flex;
  flex: 0.8;
  padding: 0 100px;
  border-radius: 10px;
  overflow: hidden;
}

.all-user-left {
  width: 100%;
  background-color: #fff;
  padding: 30px 100px;
  margin-top: 70px;
}

.all-user-left .process {
  width: 100%;
  height: 7px;
  background-color: #f5f5f5;
  border-radius: 6px;
  margin-top: 5px;
}

.all-user-left .value {
  width: 100%;
  height: 100%;
  background-color: #2094ff;
  border-radius: 6px;
}

.all-user-left p {
  font-size: 12px;
}

.all-user-right {
  flex-grow: 1;
}

.all-user-right button {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #2094ff;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.user .content {
}

.all-user .item {
  margin: 20px 0;
}

.form {
  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-real {
  background-color: #fff;
  padding: 10px;
  width: 500px;
  transition: all 0.5s;
  transform: translateY(200%);
  position: relative;
  overflow: scroll;
}

.form-real input {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}
.form-real .row {
  margin: 15px 0;
}

.form-real p {
  font-size: 15px;
  font-weight: 700;
}

.form-real .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-real button {
  padding: 7px 15px;
  background-color: #2094ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-real p {
  margin: 0px;
}

.form-real i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.content .data {
  padding: 0 100px;
  margin-top: 20px;
}

.content .data i,
.data-fixer i {
  cursor: pointer;
  transition: all 0.3s;
}

.content .data i:nth-child(2),
.data-fixer i:nth-child(2) {
  margin: 0 9px;
}

.content .data i:first-child:hover,
.data-fixer i:first-child:hover {
  color: blue;
}

.content .data i:nth-child(2):hover,
.data-fixer i:nth-child(2):hover {
  color: green;
}

.content .data i:last-child:hover,
.data-fixer i:last-child:hover {
  color: red;
}

.Customer {
  color: blue;
}

.Fixer {
  color: #2094ff;
}

@media only screen and (max-width: 950px) {
  .all-user {
    padding: 0 20px;
  }
  .data {
    padding: 0 20px !important;
  }
}
